<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.management.mapper.GoodMapper">
    <!-- 条件查询 -->
    <select id="list" resultType="org.example.management.pojo.Good">
        select id, name, state, decri,store_id,jh_pri,pf_pri,ls_pri,storage,create_time from good
        <where>
            <if test="name != null and name != ''">
                name like concat('%',#{name},'%')
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
            <if test="storeId != null">
                and store_id = #{storeId}
            </if>
            <if test="decri != null and decri != ''">
                and decri = #{decri}
            </if>
        </where>
        order by create_time desc
    </select>
    <!--更新货品信息-->
    <update id="update">
        update good
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="decri != null and decri != ''">
                decri = #{decri},
            </if>
            <if test="storeId != null">
                store_id = #{storeId},
            </if>
            <if test="jhPri != null">
                jh_pri = #{jhPri},
            </if>
            <if test="pfPri != null">
                pf_pri = #{pfPri},
            </if>
            <if test="lsPri != null">
                ls_pri = #{lsPri},
            </if>
            <if test="storage != null">
                storage = #{storage},
            </if>
        </set>
        where id = #{id}
    </update>
    <!-- 批量删除货品-->
    <select id="delete">
        delete from good where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <!-- 根据仓库id获取货品信息   -->
    <select id="findByStoreId" resultType="org.example.management.pojo.Good">
        select * from good where store_id = #{storeId}
        order by create_time desc
    </select>
</mapper>